<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Sushi Restauracja - Menu</title>
		<link rel="stylesheet" type= "text/css" href="style.css">
	</head>
	<body>
		<center>
			<h1>Moja restuaracja sushi</h1>
			
			<ul>
				<li>
					<a href = "/">Strona domowa</a>
				</li>
				<li> 
					<a href = "galeria"> Galeria</a>
				</li>
				<li>
					<a class = "active" href = "menu">Menu</a>
				</li>
				<li>
					<a href = "zamow">Zamów</a>
				</li>
				<li>
					<a href = "kontakt">Kontakt</a>
				</li>
			</ul>
			
		</center>
	</body>
</html>